root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 4

[*.po]
insert_final_newline = false

[*.pot]
insert_final_newline = false

[*.build]
indent_style = space
indent_size = 2

[*.xml]
indent_style = space
indent_size = 2

[*.blp]
indent_style = space
indent_size = 2
