
@define-color window_bg_color shade(@theme_color, 1.96);
@define-color window_fg_color shade(@theme_color, 0.3);

@define-color view_bg_color shade(@window_bg_color, 1.1);
@define-color view_fg_color @window_fg_color;

@define-color card_bg_color @view_bg_color;
@define-color card_fg_color @window_fg_color;
@define-color card_shade_color shade(@theme_color, 0.3);

@define-color accent_color shade(@theme_color, 0.8);
@define-color accent_bg_color @theme_color;

@define-color notebooks_bar_color mix(#3d3846, @theme_color, 0.24);
@define-color notebooks_bar_icon_color shade(@theme_color, 1.87);

@define-color popover_bg_color @notebooks_bar_color;
@define-color popover_fg_color @notebooks_bar_icon_color;

@define-color headerbar_bg_color shade(@theme_color, 1.8);
@define-color headerbar_fg_color shade(@theme_color, 0.3);

.notebooks-bar {
  transition: color .5s, background-color .5s;
}
window, headerbar {
  transition: color .3s, background-color .3s;
}

listview {
  background-color: transparent;
}

/*
 *
 *   NOTEBOOKS BAR
 *
 */

.notebooks-bar {
  background-color: @notebooks_bar_color;
  color: @notebooks_bar_icon_color;
}

.notebooks-bar > button,
.notebooks-bar > menubutton {
  margin: 6px;
}

.notebooks-bar > .trash-button {
  margin: 0px;
  min-width: 26px;
  min-height: 34px;
  color: #ffffff;
  border-radius: 0;
}

.notebooks-bar > scrolledwindow {
  box-shadow: inset 0 1px 0 0 @borders,
              inset 0 -1px 0 0 @borders;
}

.trash-button,
.notebooks-bar listview row.activatable {
  padding-bottom: 8px;
  padding-top: 8px;
  transition: box-shadow .2s, background-image .1s;
}

.trash-button:checked,
.notebooks-bar listview row.activatable:selected {
  box-shadow:
    inset 0px 1px 0 0 rgba(0, 0, 0, .2),
    0px 1px 0 0px rgba(255, 255, 255, .1),
    inset 5px 0px 4px 0 rgba(0, 0, 0, .3),
    inset 3px 0px 0 0 @notebook_light_color;
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .2));
}

.notebook {
  transition: transform .2s, box-shadow .2s;
  background-image:
    linear-gradient(
      mix(@notebook_color, #fff, 0.25) 0%,
      mix(@notebook_color, #fff, 0.1) 50%,
      alpha(mix(@notebook_color, #fff, 0.05), 0.6) 75%,
      alpha(@notebook_color, 0) 100%
    ),
    radial-gradient(shade(mix(@notebook_color, #fff, 0.2), 1) 30%, transparent 31%),
    radial-gradient(shade(mix(@notebook_color, #fff, 0.28), 1) 30%, transparent 31%),
    linear-gradient(mix(@notebook_color, #fff, 0.2), @notebook_color);
  background-position: 0 0, 0 0, 2px 2px, 0 0;
  background-size: auto auto, 4px 4px, 4px 4px, auto auto;

  border-radius: 0 3px 3px 0;

  min-width: 26px;
  min-height: 34px;

  color: @notebook_fg_color;

  box-shadow:
    inset 0 0px 0px .5px rgba(255, 255, 255, 0.2),
    inset 0 .5px 0px 0px rgba(255, 255, 255, 0.2),

    inset 0 -2px 0px 0px #f0f3f8,

    inset 1px 0 0 0 shade(@notebook_color, 0.8),
    inset 0 -3px 0px 0px rgba(0, 0, 0, 0.2),

    0 1px 3px 1px rgba(0, 0, 0, .1),
    0 1px 1px 0px rgba(0, 0, 0, .2);
}

.notebooks-bar > .trash-button image {
  transition: transform .2s;
}

.notebook > label {
  margin-left: 1px;
  margin-bottom: 2px;
  text-shadow:
    0 0px 1px rgba(0, 0, 0, .2),
    0 1px 1px rgba(0, 0, 0, .3);

  font-weight: 700;
}

row.activatable:hover .notebook {
  transform: scale(1.16, 1.16);
  box-shadow:
    inset 0 0px 0px .5px rgba(255, 255, 255, 0.2),
    inset 0 .5px 0px 0px rgba(255, 255, 255, 0.2),

    inset 0 -2px 0px 0px #f0f3f8,

    inset 1px 0 0 0 shade(@notebook_color, 0.8),
    inset 0 -3px 0px 0px rgba(0, 0, 0, 0.2),

    0 7px 7px -4px rgba(0, 0, 0, .3),
    0 4px 8px 2px rgba(0, 0, 0, .0);
}


/*
 *
 *   NOTEBOOK SIDEBAR
 *
 */


.notebook-sidebar {
  border-right: solid 1px @borders;
  border-left: solid 1px @borders;
}

.notebook-sidebar listview row {
  padding: 0;
  background: 0;
}

.notebook-sidebar listview row > box {
  transition: box-shadow .4s, background-color .3s;
  padding: 16px 15px;
}

.notebook-sidebar listview row:hover:not(:selected):not(:active) > box {
  transition: box-shadow .2s, background-color .1s;
  background-color: rgba(0, 0, 0, .05);
}

.notebook-sidebar listview row:active > box {
  transition: box-shadow .3s, background-color .3s;
  background-color: rgba(0, 0, 0, .12);
}

.notebook-sidebar listview row:selected > box {
  transition: box-shadow .2s, background-color 0;
  background-color: @card_bg_color;
  color: @card_fg_color;
  box-shadow:
    0 1px  4px 2px  alpha(@card_shade_color, 0.05),
    0 -1px 3px -1px @borders,
    0 1px 3px -1px @borders,
    0 1px 0 0    alpha(@borders, 0.5),
    inset 0  1px #fff;
}

/*
 *
 *   TEXT VIEW
 *
 */

textview text {
  background-color: @view_bg_color;
}
