@define-color accent_color shade(mix(@theme_color, #efffa0, 0.1), 1.5);
@define-color accent_bg_color shade(@theme_color, 0.8);

@define-color notebooks_bar_bg_color shade(@window_bg_color, 1.2);
@define-color notebooks_bar_fg_color shade(@window_fg_color, 1.2);

@define-color selected_bg_color alpha(mix(@theme_color, #50505f, 0.4), 0.34);
@define-color hover_bg_color alpha(@accent_color, .05);