on:
  release:
    types: [published]
name: Build flapak on release
jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:gnome-45
      options: --privileged
    steps:
    - uses: actions/checkout@v4
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: Folio.flatpak
        manifest-path: com.toolstack.Folio.json
        cache-key: flatpak-builder-${{ github.sha }}
